  <footer class="govuk-footer " role="contentinfo">
    <div class="govuk-footer__container govuk-width-container ">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <span class="govuk-footer__logotype">
            <img alt="Crown Commercial Service" src="{{path '/ccs_logotype_med.png'}}">
          </span>
        </div>

        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item">
              © Crown copyright
            </div>
          </div>
        </div>
    </div>
  </footer>